{% extends "Master/MenuTemplate.html.twig" %}

{% block body %}
    <div class="container" style="margin-top: -60px;">
        <div class="row">
            <div class="col-12">
                <div class="card shadow mb-5">
                    <div class="card-body">
                        <h1 class="h2">Error</h1>
                        <p>No se ha encontrado ningún formato de ticket para este modelo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    {{ parent() }}
    <style>
        .bg-header {
            background-color: #FAFBFC;
            padding-bottom: 90px;
        }
    </style>
{% endblock %}